:root {
    /* colors */
    --document-background-color: rgb(54, 146, 221);
    --header-background-color:  rgb(95, 24, 226);
    --header-font-color: snow;
    
    /* fonts */
    --document-font-family: Arial, Helvetica, sans-serif;
}

/* styles */
body {
    background-color: var(--document-background-color);
    font-family: var(--document-font-family);
    margin: 0 10% 0 10%;
}

h1 {
    background-color: var(--header-background-color);
    border: solid 1px;
    border-radius: 20px;
    text-align: center;
    color: var(--header-font-color);
}

.item {
    margin: 5px 5px 5px 0;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 20px 150px 20px;
    justify-content: center;

}

.item:last-of-type {
    padding-bottom: 10px;

}

.dice {
    border-radius: 14px;
    text-align: center;
    max-width: 140px;
}

.contents {
text-align: center;

}
#roll-dice {
    border-radius: 14px;
    text-align: center;
    max-width: 200px;
    position: relative;
    left: -15px;
    height: 62px;
    font-size: larger;
}

/* element.style {
    font-size: xx-large;
    margin: 20px;
    position: relative;
    left: 660px;
    border: solid aqua 9px;
    border-radius: 34px;
    width: 5%;
    text-align: center;
} */