:root {
    /* Farger */
    --document-background-color: rgb(54, 146, 221);
    --header-background-color:  rgb(95, 24, 226);
    --header-font-color: snow;
    
    /* fonter */
    --document-font-family: Arial, Helvetica, sans-serif;
}

/* variabler */
body {
    background-color: var(--document-background-color);
    font-family: var(--document-font-family);
    margin: 0 10% 0 10%;
}
/* Overskrift */
h1 {
    background-color: var(--header-background-color);
    border: solid 1px;
    border-radius: 20px;
    text-align: center;
    color: var(--header-font-color);
}
/* Div rundt terninger og checkboxer */
.item {
    margin: 5px 5px 5px 0;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 20px 150px 20px;
    justify-content: center;

}
/* Siste item-elementet for å lage luft ned til knappen */
.item:last-of-type {
    padding-bottom: 10px;

}
/* Inputfeltet for sider på terningene */
.dice {
    border-radius: 14px;
    text-align: center;
    max-width: 140px;
}
/* Sentrering av inneholdet */
.contents {
text-align: center;

}
/* Knappen for å kaste terningene */
#roll-dice {
    border-radius: 14px;
    text-align: center;
    max-width: 200px;
    position: relative;
    left: -7px;
    height: 62px;
    font-size: larger;
}
/* Divtaggen for sum */
.output {
    position: relative;
    left: -2px;
    font-size: 78px;
    margin-top: 20px;
    color: white; 
}
